header.header
	.container
		nav.nav-header.nav-header-top
			ul.nav-header__list
				li.nav-header__item
					a(href="#" class="nav-header__link")
						address
							i.fas.fa-envelope
							|Email:
							span.phone-main
								| mail@dighistore.ru
				li.nav-header__item
					a(href="kontakt.html" class="nav-header__link")
						i.fas.fa-phone
						|Контакты
						//- span.phone-main 
						//- 	| +7-812-409-48-10
				li.nav-header__item
					a(href="dostavka.html" class="nav-header__link")
						i.fas.fa-truck
						|Доставка
	.container
		.logo
			a(class="logo__link" href="index.html")
				img(class="logo__img" src="static/images/general/logo.svg" alt="dighistore")
		nav.nav-header
			.nav-header__btn
				span
			ul.nav-header__list
				li.nav-header__item
					a(href="index.html" class="nav-header__link ")
						i.fas.fa-book
						|1 класс
				li.nav-header__item
					a(href="2-klass.html" class="nav-header__link")
						i.fas.fa-book
						|2 класс
				li.nav-header__item
					a(href="3-klass.html" class="nav-header__link")
						i.fas.fa-book
						|3 класс
				li.nav-header__item
					a(href="4-klass.html" class="nav-header__link")
						i.fas.fa-book
						|4 класс
				li.nav-header__item
					a(href="metodika.html" class="nav-header__link")
						i.fas.fa-book
						|Методика
				li.nav-header__item
					a(href="other.html" class="nav-header__link")
						i.fas.fa-book
						|Другие книги
				li.nav-header__item.nav-header__item--mobil
					a(href="kontakt.html" class="nav-header__link")
						i.fas.fa-phone
						|Контакты
						//- span.phone-main 
						//- 	| +7-812-409-48-10
				li.nav-header__item.nav-header__item--mobil
					a(href="dostavka.html" class="nav-header__link")
						i.fas.fa-truck
						|Доставка
