style.
	.content-kontakt i{
		color: #fea410;
		margin-right:7px;
	}
.header__basket-min
section.section.section-dostavka
	.container
		h1.main-title Контакты
		.section__row
			.content.content-kontakt(style="line-height:1.6;")
				h2(style=" font-size: 20px;") dighistore.ru
				table
					tbody
						tr
							td(width="210")  
							td  
						//- tr
						//- 	th
						//- 		i.fa.fa-phone(aria-hidden="true" style="")
						//- 		|  Многоканальный телефон:
						//- 	td
						//- 		b
						//- 			span +7 (499) 350-17-79.
						//- 		|  Call-Center работает пн.- пт. с 9-19 ч..
						tr
							th(style="text-align:left;")
								i.fa.fa-envelope(aria-hidden="true" style="")
								|  e-mail:
							td(align="left")
								//- br
								|mail@dighistore.ru
								br
						tr
							th  
							td  
						tr
							th
								i.fa.fa-building-o(aria-hidden="true" style="text-align:left;")
								| Наш книжный магазин:
							td
								span
								| работает со вторника по пятницу 
								strong с 10:00 до 20:00, 
								| в субботу 
								strong с 10:00 до 18:00
								br
								| по адресу: г. Москва, Большой Факельный переулок, 3с2.
						tr
							td  
							td  
						tr
				br
				//- a(name="punkt")
				h2(style=" font-size: 18px;")
					i.fa.fa-bus(aria-hidden="true" style="")
					|  Как добраться на общественном транспорте до нашего книжного магазина.
				p(style="text-indent: 20px;")
					| 1. Доехать до станции метро Марксистская, выход рядом с первым вагоном из центра. Выйти из стеклянных дверей налево.
				p(style="text-indent: 20px;")
					| 2. Пройти по переходу до конца, свернуть направо, подняться по лестнице и выйти на улицу.
				p(style="text-indent: 20px;") 3. Перейти по пешеходному переходу на другую сторону Таганской улицы.
				p(style="text-indent: 20px;") 4. Повернуть направо и пройти до поворота на Товарищеский переулок.
				p(style="text-indent: 20px;")
					| 5. Повернуть налево на Товарищеский переулок и пройти по нему до библиотеки № 15 им. Ключевского. Вход в книжный магазин через библиотеку.
				p(style="text-indent: 20px;")
					| Если вы не смогли найти наш книжный магазин позвоните по телефону - +7 (925) 119-74-85.
				h3(style="  font-size: 18px; margin-bottom:30px; margin-top:30px;")
					i.fa.fa-map-marker(aria-hidden="true" style="")
					|  Смотрите на карте где расположен наш книжный магазин.
				script(type="text/javascript" charset="utf-8" async="" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abb16c623283a907b243f428631eba8bc893140d3d0b14adab408228b17c830bb&width=100%25&height=585&lang=ru_RU&scroll=false")
				p
					img(alt="Книжный магазин" src="static/images/content/punkt.png" style="display: block; width: 100%; margin: 20px 0;" title="Стрелкой показан вход в книжный магазин")
				//- p(style="text-align:center; font-size:18px")
				//- 	| Если вы не смогли нас найти, позвоните про телефону 
				//- 	b  +7 (499) 350-17-79
				//- 	|  и мы вам поможем.
.smart-basket__wrapper
