.header__basket-min
section.section.section-one
  .container
    h1.main-title
    .section__row.product-list
      .section__col.product
        .product__pic
          img.product__img(src='static/images/content/chelovek_nauchivshiy_mir.jpg', alt='Человек, научивший мир читать. История Великой информационной революции')
        .product__descripton
          .product__name
            | Человек, научивший мир читать. История Великой информационной революции, Чепикова К.
          p.product-desc__text
            | Мы живем в эпоху новой информационной революции, когда гаджет размером с ладонь обеспечивает доступ ко всем знаниям человечества. Мог ли кто-то, кроме самых смелых писателей-фантастов, вообразить подобное еще полвека назад?
          .product__price.product__add-to-cart-button(data-sb-id-or-vendor-code='1124403', data-sb-product-name='Человек, научивший мир читать. История Великой информационной революции, Чепикова К.', data-sb-product-price='580', data-sb-product-quantity='1', data-sb-product-img='static/images/content/chelovek_nauchivshiy_mir.jpg')
            i.fa.fa-cart-plus
            span.price 580
            | руб.
          .product__quantity(style='display:none;')
.smart-basket__wrapper
