style.
	.content-dostavka i{
		color: #fea410;
		margin-right:7px;
	}
.header__basket-min
section.section.section-dostavka(style="line-height:1.6;")
	.container
		h1.main-title Доставка
		.section__row
			//- h4.dostavka-info
			//- 	|Доставляем книги по России и во все страны мира по выгодным тарифам.
			//- h4.dostavka-info
			//- 	|Стоимость доставки в ваш регион вам сообщит менеджер после оформления заказа.
			//- h4.dostavka-info
			//- 	|Наши книги практически невозможно купить в книжных магазинах.
			.content.content-dostavka
				p(style="border: 2px solid #3CB868; margin: 15px 40px; padding: 10px 15px; box-shadow: 0px 0px 10px 0px rgba(60, 184, 104, 0.55);")
					i.fa.fa-exclamation-circle(aria-hidden="true" style="color:#3CB868;")
					|  Уважаемые покупатели! Доставка заказов собственной курьерской службой осуществляется по Москве и Московской области. Также рады сообщить,что мы можем организовать доставку вашего заказа по территории России, Казахстана, Беларуси, Украины, Прибалтийских государств, Германии и других стран мира.
				p  
				p  
				h2(style=" font-size: 18px;")
					i.fa.fa-rub(aria-hidden="true" style="")
					|  Стоимость доставки по Москве:
				ul(style="margin-left:20px;")
					li
						| доставка в пределах МКАД, если сумма заказа больше либо равна 10000 руб. – 
						b
							i бесплатная;
					li
						| доставка в пределах МКАД, если сумма заказа меньше 10000 руб. – 
						b
							i 180 руб.
				p  
				h2(style=" font-size: 18px;")
					i.fa.fa-rub(aria-hidden="true" style="")
					|  Стоимость доставки по Московской области:
				ul(style="margin-left:20px;")
					li
						| доставка за пределы МКАД, если сумма заказа от 10000 руб. включительно – до МКАД 
						b
							i бесплатная + 50 руб. за км от МКАД;
					li
						| доставка за пределы МКАД, если сумма заказа меньше 10000 руб. - 
						b
							i 290 руб. + 50 руб. за км от МКАД.
				p  
				h2(style=" font-size: 18px;")
					i.fa.fa-rub(aria-hidden="true" style="")
					|  Стоимость вечерней доставки и доставки ко времени:
				ul(style="margin-left:20px;")
					li
						| вечерняя доставка (с 19.00 до 23.00) - 
						b
							i 390 руб.;
					li
						| точно ко времени - 
						b
							i 1190 руб.
				p  
				h2(style=" font-size: 18px;")
					i.fa.fa-clock-o(aria-hidden="true" style="")
					|  Время доставки:
				ul(style="margin-left:20px;")
					li
						| доставка осуществляется, как правило, на следующий день, в период времени с 10:00 до 20:00;
					li
						| доставка ко времени осуществляется с 12:00 до 18:00, но не ранее чем через 3 часа после поступления заказа;
					li водитель-экспедитор оповещает покупателя за 1 час до приезда на адрес доставки;
					li
						| интервал прибытия по адресу при осуществлении доставки ко времени составляет +/- 15 минут к указанному при оформлении заказа времени.
				p(style="margin-left: 25px;")
					| Также просим обратить внимание, что при любой форме доставки ожидание водителем-экспедитором покупателя по адресу составляет не более 20 минут.
				a(name="country")
				p  
				h2(style=" font-size: 18px;")
					i.fa.fa-truck(aria-hidden="true" style="")
					|  Доставка по России и другие страны мира:
				p(style="text-indent: 20px;")
					| Для доставки товара по территории России, Казахстана, Беларуси, Украины, Прибалтийских государств, Германии и других стран мира, при оформлении заказа укажите ваш точный адрес. В ближайшее время наш сотрудник свяжется с вами для уточнения способа и стоимости доставки.
				p  
				p(style="border: 2px solid #3CB868; margin: 15px 40px; padding: 10px 15px; box-shadow: 0px 0px 10px 0px rgba(60, 184, 104, 0.55);")
					i.fa.fa-exclamation-circle(aria-hidden="true" style="color:#3CB868;")
					|  Если вы хотите самостоятельно забрать заказанный товар, то вы можете это сделать в нашем 
					strong книжном магазине. 
					span(style="")  С режимом работы магазина и подробной схемой проезда
					|  вы можете ознакомиться на странице 
					a(href="kontakt.html" style="color:#3CB868; text-decoration:underline") Контакты
					| .
				//- p(style="border: 2px solid #3CB868; margin: 15px 40px; padding: 10px 15px; box-shadow: 0px 0px 10px 0px rgba(60, 184, 104, 0.55);")
				//- 	i.fa.fa-exclamation-circle(aria-hidden="true" style="color:#3CB868;")
				//- 	|  Все возникшие вопросы покупатель может задать нашим менеджерам по телефону
				//- 	i
				//- 		span(style="font-size: 14pt;") +7(499) 350-17-79.

.smart-basket__wrapper