extends template/main

block variables
  - var title = 'Человек, научивший мир читать. История Великой информационной революции'
  - var pageClass = 'chelovek'

block content
  include modules/content/content_1book
