nav.nav-header {
	display: flex;
	flex-direction: row;

	color: $nav_color;

	ul.nav-header__list {

		display: flex;
		flex-direction: row;
		align-items: center;
		color: $nav_color;
		padding-left: 30px;
		flex-wrap: wrap;
		padding-right: 80px;

		li.nav-header__item {
			padding: 5px;
			padding-right: 20px;
			transition: 0.3s;


			a.nav-header__link {
				display: flex;
				color: $nav_color;
				cursor: pointer;
				position: relative;

				i {
					display: flex;
					padding-right: 7px;
					min-width: 25px;
				}

				address {
					display: flex;
				}
			}
		}


		li.nav-header__item.active a,
		li.nav-header__item:hover a {
			color: $nav_color_hover;
			// border-bottom: 2px solid $nav_border_hover;
			margin-bottom: 0px;
			position: relative;
			transition: 0.3s;

		}

		li.nav-header__item a:after,
		li.nav-header__item.active a:after {
			content: '';
			display: flex;
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 1px;
			height: 3px;
			transition: 0.4s;
		}

		li.nav-header__item:hover a:after,
		li.nav-header__item.active a:after {
			background: $nav_color_hover;
			width: 100%;

		}
	}
}



.nav-header__btn {
	opacity: 0;
	display: none;
}

.nav-header__btn {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}

.nav-header__btn>span,
.nav-header__btn>span::before,
.nav-header__btn>span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: $burger_color;
	transition: 0.3s;
}

.nav-header__btn>span::before {
	content: '';
	top: -8px;
}

.nav-header__btn>span::after {
	content: '';
	top: 8px;
}

.nav-header__btn.active>span {
	transform: rotate(45deg);
}

.nav-header__btn.active>span:after {
	top: 0;
	transform: rotate(0);
}

.nav-header__btn.active>span:before {
	top: 0;
	transform: rotate(90deg);
}

@media (max-width:910px) {
	.logo {
		height: 100%;
		width: 80px;
		z-index: 100;
	}

	.header__basket-min.hide {
		top: -100px;
		opacity: 0;
	}

	nav.nav-header .nav-header__btn {
		opacity: 1;
		display: flex;
		align-items: center;
		position: fixed;
		left: 150px;
		top: 12px;
	}

	nav.nav-header ul.nav-header__list {
		display: none;
	}

	nav.nav-header ul.nav-header__list.active {
		position: fixed;
		display: flex;
		flex-direction: column;
		// align-items:left;
		top: 48px;
		left: 0;
		bottom: 0;
		right: 0;
		// background:rgba(221, 4, 4,0.8);
		background: $nav_mobil_bg;
		padding-top: 20px;
		padding-right: 30px;
		z-index: 99;

		li {
			width: 100%;
			height: 50px;
			border-bottom: $nav_mobil_border;
			display: flex;
			align-items: center;
			text-align: left;
		}
	}
}

.noScroll {
	overflow: hidden;
}

.nav-footer li {
	padding: 5px;
}

.nav-footer a {
	display: inline-block;
	color: $nav_color;
	transition: 0.3s;
}

.nav-footer a:hover {
	color: $nav_color_hover;
	border-bottom: 2px solid $nav_border_hover;
	margin-bottom: -2px;
}

.nav-footer i {
	padding-right: 7px;
}

ul.nav-footer__list {
	display: flex;
	flex-wrap: wrap;
}

ul.nav-footer__list li.nav-footer__item {
	padding-right: 30px;
}
ul.nav-footer__list li.nav-footer__item:last-child {
	margin-left: auto;
}
ul.nav-footer__list li.nav-footer__item a.nav-header__link {}

nav.nav-header-top {
	margin: auto;
	height: 30px;
}

nav.nav-header-top a.nav-header__link {
	font-size: 14px;
	color: $orange !important;
}

nav.nav-header-top a.nav-header__link:hover {
	font-size: 14px;
	color: $yellow !important;
}
nav.nav-header-top a.nav-header__link i {
	display: flex;
	min-width:25px;
}

.nav-header-top ul.nav-header__list {}

nav.nav-header ul.nav-header__list li.nav-header__item.nav-header__item--mobil {
	display: none;
}

@media (max-width:910px) {
	nav.nav-header-top {
		height: 0;
	}

	nav.nav-header ul.nav-header__list li.nav-header__item.nav-header__item--mobil {
		display: flex;
	}
}
