footer.footer
	.container
		.nav-footer
			ul.nav-footer__list
				li.nav-footer__item
					a(href="dostavka.html" class="nav-footer__link")
						i.fas.fa-truck
						|Доставка
				li.nav-footer__item
					a(href="kontakt.html" class="nav-footer__link")
						i.fas.fa-phone
						|Контакты
						//- span.phone-main 
						//- 	| +7-812-409-48-10
				li.nav-footer__item
					a(href="#" class="nav-footer__link")
						address
							i.fas.fa-envelope
							
							span.phone-main
								| mail@dighistore.ru
			
				li.nav-footer__item
					| ©
					time(datetime="2019-01-01") 2019
					|  dighistore.ru
